<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
  <test name="Test">
<!--     <parameter name="browser" value="chrome" />
    <parameter name="remote" value="no" />
    <parameter name="gridurl" value="http://chrome_standalone:4444/wd/hub" />
    <parameter name="app_url" value="http://testautomation-playground.herokuapp.com/login.html" /> -->
    <classes>
      <class name="com.dineshvelhal.tests.LoginTests" />
      <class name="com.dineshvelhal.tests.RegistrationTests" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
